/* Styles go here */
body, html, ul{
  padding: 0;
  margin: 0;
  font-family: verdana;
}
body{
  background: #f5f5f5;
  overflow-x: hidden;
}
html.ng-scope {
  overflow-x: hidden;
}
.header {
  height: 74px;
  background: #efefef;
  padding-top: 11px;
  box-shadow: 1px 3px 4px #dadada;
}
.logo{
  float: left;
  text-align: center;
  margin-right:30px;
  width: 100%;
  clear: both;
}
.logo img{
  width: 200px;
}
.menu{
  clear: both;
  background: #324251;
  height: 54px;
  margin-top: 80px;
  text-align: center;
}
.container-menu{
  max-width:800px;
  margin:0 auto;
}
.menu ul{
  list-style: none;
}
.menu li {
  float: left;
  margin-top: 11px;
  width: 33.3%;
}
.menu li a {
  display: block;
  padding: 8px 40px;
  background: #ef3d43;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 50px;
  border-left: 5px solid #324251;
  border-right: 5px solid #324251;
  font-size: 0.8em;
  -webkit-transition: all .9s ease;
  -moz-transition: all .9s ease;
  -o-transition: all .9s ease;
  -ms-transition: all .9s ease;
  transition: all .9s ease;
}
.menu li a:hover{
  background: #ca080e;
  -webkit-transition: all .9s ease;
  -moz-transition: all .9s ease;
  -o-transition: all .9s ease;
  -ms-transition: all .9s ease;
  transition: all .9s ease;
}
.container {
  min-height: auto;
  /*padding: 30px;*/
  clear: both;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 70px;
  background: #fff;
  box-sizing: border-box;
}
.list-container{
  max-width: 1200px;
  margin: 0 auto;
  /*padding: 30px;*/
}
.footer{
  clear: both;
  /*background: #f8622d;*/
  background: #ef3d43;
  height:60px;
  padding: 20px;
  text-align: center;
  color: #fff;
  border-top: 3px solid #324251;
  font-size: 0.8em;
}
.item{
  width: 33.3%;
  float: left;
}
.product {
  /*padding-top: 20px;*/
  padding-bottom: 15px;
  margin: 10px;
  margin-bottom: 30px;
  /* box-shadow: 1px 1px 12px #e0dfdf; */
  box-shadow: 0 1px 7px rgba(0,0,0,.05);
  box-shadow: 1px 1px 8px #e0dfdf;
  -webkit-transition: all .9s ease;
  -moz-transition: all .9s ease;
  -o-transition: all .9s ease;
  -ms-transition: all .9s ease;
  transition: all .9s ease;
  cursor: pointer;
  background: #fff;
  height: 440px;
}
/*.product:hover img{*/
/*  box-shadow: 1px 1px 8px #e0dfdf;*/
/*  -webkit-transition: all .9s ease;*/
/*  -moz-transition: all .9s ease;*/
/*  -o-transition: all .9s ease;*/
/*  -ms-transition: all .9s ease;*/
/*  transition: all .9s ease;*/
/*  opacity:0.9;*/
/*}*/

.cover {
  -webkit-transform: skewY(-3deg);
  transform: skewY(-3deg);
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 48px;
  background: #ffffff;
  margin-top: -34px;
}
.content-btn{
  position: relative;
  text-align: right;
  width: 100%;
  margin-top: -38px;
  margin-bottom: 32px;
}
a.buy {
  /* margin-top: -42px; */
  padding: 13px 15px;
  background: #e94042;
  border-radius: 5px;
  color: #fff;
  margin-right: 14px;
  border-top: 1px solid #fff;
  box-shadow: 1px 3px 4px #ccc;
  font-size: 0.8em;
  -webkit-transition: all .9s ease;
  -moz-transition: all .9s ease;
  -o-transition: all .9s ease;
  -ms-transition: all .9s ease;
  transition: all .9s ease;
}
a.buy:hover{
  background: #ca080e;
  -webkit-transition: all .9s ease;
  -moz-transition: all .9s ease;
  -o-transition: all .9s ease;
  -ms-transition: all .9s ease;
  transition: all .9s ease;
}
.user {
  max-width: 1200px;
  margin: 0 auto;
  text-align: right;
  position: relative;
  margin-bottom: -45px;
  color: #7776;
  font-size: 2.3em;
  padding-right: 15px;
}
.user a{
  font-size: 0.4em;
  color: #bfbfbf;
  cursor: pointer;
}
.user a:hover{
  text-decoration: underline;
  color: #929292;
}
.product .img, .product .price, .product .title{
  text-align: center;
}
.product .title {
  font-size: 1.2em;
  padding-bottom: 2px;
  color: #324251;
}
.product .img img{
  width: 100%;
}
.img {
  padding-bottom: 20px;
}
.product .description {
  text-align: justify;
  font-size: 15px;
  margin-top: 20px;
  padding: 10px;
}
.product .price {
  font-size: 1.5em;
  color: #324251;
  font-weight: 600;
  margin-bottom: 18px;
}
.hide{
  display: none;
}
.product:hover .title,.product:hover .price{
  color: #ef3d43;
  -webkit-transition: all .9s ease;
  -moz-transition: all .9s ease;
  -o-transition: all .9s ease;
  -ms-transition: all .9s ease;
  transition: all .9s ease;
 
}
#pieChart{
  width:600px;
  margin: 0 auto;
  cursor: pointer;
}
.hr{
  border: 0!important;
  height: 1px!important;
  background-image: linear-gradient(to right, transparent, rgba(181, 181, 181, .75), transparent)!important;
  margin-top: 18px!important;
  margin-bottom: 20px!important;
  clear: both;
}
.event-title{
  color: #ef3d43;
  font-size: 1.5em;
  text-align: center;
}
.chat-bg {
  padding-top: 26px;
  background: url(https://png.pngtree.com/thumb_back/fw800/back_pic/03/62/58/9357aaf395cae75.jpg);
  background: url(../img/background.jpg);
  background-position: center;
  background-size: cover;
}
.event-date, .event-location {
  padding: 10px;
  font-size: 0.8em;
  color: #4a4a4a;
}
.event-location {
  padding-top: 0;
  font-size: 0.9em;
  color: #e94042;
  margin-bottom: 12px;
}
.btn-container {
  text-align: center;
  padding: 10px;
  margin-bottom: 50px;
}
#showmore {
  border: 0;
  background: #e94042;
  color: #fff;
  padding: 15px 55px;
  font-size: 0.8em;
  cursor: pointer;
  -webkit-transition: all .9s ease;
  -moz-transition: all .9s ease;
  -o-transition: all .9s ease;
  -ms-transition: all .9s ease;
  transition: all .9s ease;
  border-radius: 50px;
}
#showmore:hover{
  background: #ca080e;
  -webkit-transition: all .9s ease;
  -moz-transition: all .9s ease;
  -o-transition: all .9s ease;
  -ms-transition: all .9s ease;
  transition: all .9s ease;
}
.search-field{
  width: 500px;
  height: 38px;
  padding: 3px 17px;
  border: #ea4042 1px solid;
  border-radius: 5px;
  font-size: 1em;
  -webkit-transition: all .9s ease;
  -moz-transition: all .9s ease;
  -o-transition: all .9s ease;
  -ms-transition: all .9s ease;
  transition: all .9s ease;
}
.search-field:focus{
  border: #ea4042 1px solid;
  border-radius: 5px;
  font-size: 1em;
  -webkit-transition: all .9s ease;
  -moz-transition: all .9s ease;
  -o-transition: all .9s ease;
  -ms-transition: all .9s ease;
  transition: all .9s ease;
  background: #f7c6c6;
  border: #000 1px solid;
}
.title-table {
    float: left;
    margin-top: 20px;
    color: #101010;
}
.list-table {
    height: 72px;
    border-bottom: 1px solid #ea4042;
    padding-top: 8px;
    border-top: 1px solid #ea4042;
}
.list-table:hover{
  background: #ffffff;
}
.img-min img {
    height: 60px;
    width: 100px;
    float: left;
    margin-left: 11px;
    margin-top: 3px;
    margin-right: 12px;
}

.img {
    height: 179px;
    overflow: hidden;
    background-position: center !important;
    background-size: cover !important;
}

a.delete {
    background: #e94042;
    padding: 15px 18px;
    border-radius: 50px;
    margin-top: 7px;
    /* position: absolute; */
    /* right: 130px; */
    color: #fff;
    cursor: pointer;
    float: right;
    margin-right: 21px;
}

a.delete:hover {
    background: #ca080e;
    color: #efefef;
}

/*form*/

#container{
  margin: 0 auto;
  background: #fff;
  padding: 40px;
}
#container span{
  text-align: center;
  display: block;
}

#container input[type="text"] {
  width: 100%;
  padding: 8px;
  /* margin-left: 10px; */
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 8px;
}

#container select {
  border: 1px solid #ccc;
  width: 100%;
  background: #efefef;
  padding: 8px;
  border-radius: 4px;
  height: 38px;
  font-size: 1.1em;
}

#container input[type="submit"] {
    width: 100%;
    display: block;
    padding: 8px;
    border: 1px solid #b2b2b2;
    background: #ea4042;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    height: 36px;
    font-size: 1em;
    border-radius: 30px;
    width: 300px;
    margin: 0 auto;
}
#container input[type="submit"]:hover{
  background: #7b746f;
}

#container .error {
    background: #eaa29d;
    color: #fff;
    padding: 7px 10px;
    text-align: left;
    border-radius: 4px;
    border: 1px solid #ef8233;
    width: 100%;
    font-size: 0.8em;
}
.msg {
    padding: 20px;
    background: #d5ead5;
    border: 1px solid #7cf760;
    border-radius: 5px;
}
.table-results img{
  width: 120px;
}
.table-results td{
  border-bottom: 1px solid #ccc;
  padding: 5px;
}

@media only screen and (max-width: 630px) {
  #container{
    width: auto;
    padding: 25px;
    
  }
  #container input[type="text"] {
    width: 100%;
    margin-left: 0;
    box-sizing: border-box;
    margin-top: 5px;
  }
  #container .error{
    width: auto;
  }
 
}
/*form*/

@media (max-width: 799px){
  .item {
    width: 50%;
 
  }
  a.delete {
    right: 30px;
  }
}
@media (max-width: 620px){
  .search-field{
    width: 90%;
  }
  .menu {
    height: 128px;
    margin-top: 80px;
    padding: 16px 34px;
  }
  .item {
    width: 100%;
  }
  .container {
    min-height: auto;
    clear: both;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 175px;
    background: #fff;
    box-sizing: border-box;
  }
  #charthome{
    display: none;
  }
  div#pieChart {
    opacity: 0;
  }
  .product{
    height: auto;
  }
  .menu li {
    width: 100%;
  }
  #pieChart {
    width: 100%;
  }
  .event-date, .event-location {
    text-align: center;
  }

}
@media (max-width: 500px) {
  .user a{display: none;}
}
/**/

/*.chart .legend {*/
/*  fill: black;*/
/*  font: 14px sans-serif;*/
/*  text-anchor: start;*/
/*  font-size: 12px;*/
/*}*/

/*.chart text {*/
/*  fill: white;*/
/*  font: 10px sans-serif;*/
/*  text-anchor: end;*/
/*}*/

/*.chart .label {*/
/*  fill: black;*/
/*  font: 14px sans-serif;*/
/*  text-anchor: end;*/
/*}*/

/*.bar:hover {*/
/*  fill: brown;*/
/*}*/

/*.axis path,*/
/*.axis line {*/
/*  fill: none;*/
/*  stroke: #000;*/
/*  shape-rendering: crispEdges;*/
/*}*/


