<div class="list-container" id="topresult">
  <p class="event-title">New Events</p>



  <div class="btn-container">
   <input type="button" value="insert" ng-click="insertData()" id="showmore" />
	</div> 

	<br>


	<p class="event-title">Events List</p>
  <div class="item-table" ng-repeat="concert in Newconcerts | orderBy : 'title'">
    <div class="list-table">
      <div class="img-min"><img ng-src="{{concert.image}}"></div>
      <div class="title title-table">{{concert.title}}</div>
      <input type="button" value="delete" ng-click="deleteItem({{$index}})" id="del" />
    </div>
    
  </div>
  
  <hr class="hr"/>
</div>