<div class="list-container" id="topresult">
  <p class="event-title">Find All Events Near Toronto, ON</p>

  <input type="text" placeholder="Find a event" data-search />

  <div class="item" ng-repeat="concert in Newconcerts | orderBy : 'title'" data-filter-item data-filter-name={{concert.title | lowercase}}>
    <div class="product">
      <div class="img"><img ng-src="{{concert.image}}"></div>
      <div class="cover"></div>
      <div class="content-btn">
        <a class="buy">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;Buy Ticket
        </a>
      </div>
      <div class="title">{{concert.title}}</div>
      <div class="description">{{concert.desc}}</div>
      <div class="event-date"><i class="fa fa-calendar-o" aria-hidden="true"></i> {{concert.dateEvent}}</div>
      <div class="event-location"><i class="fa fa-map-marker" aria-hidden="true"></i> {{concert.location}}</div>
      <div class="price">{{concert.price | currency : $ : 2}}</div>
    </div>
    
  </div>
  
  <hr class="hr"/>
</div>